@charset "utf-8";
.teste{
border: solid 3px black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
align-items: center;
text-align: center;
padding: 6px;
margin-right: 200px;
margin-left: 200px;
margin-top: 10%;
width: 50%;
background-color: rgb(204, 231, 255);
}

.titulo {
    text-align: center;
    background-color: aliceblue;
}

p {
    padding-left: 25px;
}

#botao {
    background: black;
    color: white;
    margin: auto;
    padding: auto;
}

input {
    padding: auto;

}